<section class="ticket">
  <div class="header">
    <h1>Boarding Pass</h1>
    <h3>First Class</h3>
  </div>
  <div class="body">
    <h2>PASSENGER</h2>
    <p>{{ ticket.passenger.toUpperCase() }}</p>

    <div id="second">
      <div id="flight">
        <h2>FLIGHT</h2>
        <p>{{ ticket.flight.toUpperCase() }}</p>  
      </div>
  
      <div id="from">
        <h2>FROM</h2>
        <p>{{ ticket.from.toUpperCase() }}</p>
      </div>
  
      <div id="to">
        <h2>TO</h2>
        <p>{{ ticket.to.toUpperCase() }}</p>
      </div>

      <div id="class">
        <h2>CLASS</h2>
        <p>{{ ticket.class.toUpperCase() }}</p>  
      </div>
    </div>

    <div id="third">
      <div id="gate">
        <h2>GATE</h2>
        <p class="big">{{ ticket.gate.toUpperCase() }}</p>
      </div>
    
      <div id="time">
        <h2>TIME</h2>
        <p class="big">{{ ticket.time.toUpperCase() }}</p>  
      </div>

      <div id="seat">
        <h2>SEAT</h2>
        <p class="big">{{ ticket.seat.toUpperCase() }}</p>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</section>
